/* Body styling */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

.container {
    margin: 0 auto;
}

/* Header styling */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: #fffef5;
    color: #6500a8;
    z-index: 1000;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0%;
}

/* Footer styling */
footer {
    background-color:#dddbdb;
    z-index: 1000;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 1%;
    margin-bottom: 4%;
}

.column {
    float: left;
    width: 33.33%;
    font-size: 1rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left{
    text-align:left;
    float:left;
}
.right{
    float:right;
    text-align:right;
}
.centered{
    text-align:center;
}

table, th, td {
    margin-right: 1%;
    margin-left: 3%;
    margin-bottom: 3%;
    padding: 1%;
    text-align: left;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #dddbdb;
}

/* Top navigation bar styling */
.topnav {
    position: sticky;
    overflow: hidden;
    background-color: #dddbdb;
    padding:1%;
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;
}

.topnav a {
    float: inline-start;
    color: #4c0094;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav a:hover {
    background-color: #ebebeb;
    color: rgb(255, 94, 0);
}

.topnav a.active {
    text-decoration: underline;
}

/* Wrapper for image and text */
.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

/* Image styling */
.image {
    bottom: 0;
    max-width: 15%;
    height: auto;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 0;
}

/* Text styling for H1 */
.text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #6500a8;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    color:#4c0094;
    margin: 0;
}

/* Banner styling */
.banner {
    display: block;
    padding-right: 1%;
    padding-left: 3%;
    padding-top: 2%;
}

.body {
    display: block;
    padding-right: 1%;
    padding-left: 5%;
}

.responsive {
    width: 100%;
    height: auto;
}

/* Responsive design for tablets */
@media (max-width: 1024px) {
    .image {
        max-width: 20%;
    }

    .text h1 {
        font-size: 2rem;
        padding-top: 10px;
    }

    .topnav a {
        font-size: 1.3rem;
    }

    .banner {
        padding-left: 3%; 
    }

    .column { 
        font-size: 1.3rem;
    }

}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .image {
        max-width: 25%;
    }
    
    .text h1 {
        font-size: 1.2rem;
        text-align: left;
        padding-left: 3%;
        padding-top: 10px;
    }

    .topnav a {
        font-size: 1.1rem;
        padding: 2%;
    }

    .wrapper {
        flex-direction: row;
        text-align: center;
    }

    .banner {
        padding-left: 3%; 
    }

    .body { 
        font-size: 1.1rem;
    }

    .footer { 
        object-fit: cover;
    }

    .column { 
        font-size: 1.1rem;
    }
}

/* Responsive design for phones */
@media (max-width: 480px) {
    .image {
        max-width: 25%;
        object-fit: cover;
    }
    
    .text h1 {
        font-size: 1rem;
        text-align: left;
        padding-left: 3%;
        padding-bottom: 2%;
    }

    .topnav a {
        font-size: 1rem;
        display: flex; 
        padding: 2%;
    }

    .banner {
        padding-left: 3%; 
    }

    .body { 
        font-size: 1rem;
    }

    .footer {
        display: flex;
        padding: 2%;
    }

    .column { 
        font-size: 1rem;
    }

}

#sponsors {
    padding-left: 40px;
    width: auto;
    height: 70px;
    object-fit: contain;
}
